/*SOMMAIRE
    1. General
    2. Nav
    3. Commun
    4. Agenda
    5. Formulaire
*/


/*GENERAL*/

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #E7E1CF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main {
    position: relative;
}

#feuille {
    position: absolute;
    max-width: 10%;
    top: -100px;
    right: 50%;
    animation: feuilletombe 20s infinite;
    z-index: 1;
}
@keyframes feuilletombe {
    0% {
        top: -100px;
    }

    30% {
        right: 60%;
        transform: rotate(200deg);
    }


    60% {
        transform: skewY(20deg);
        transform: rotate(120deg);
    }

    80% {
        transform: skewY(0deg);
        transform: rotate(40deg);
    }


    100% {
        top: 1500px;
        opacity: 0;
        right: 30%;
        transform: rotate(20deg);
    }
}

/*NAV*/

header {
    background-color: #3E2E3B;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: 'Just Another Hand', cursive;
    font-size: 1.5em;
}

#menu, #menu a {
    color: #F9B50A;
    text-decoration: none;
    text-align: center;
    background-color: #3E2E3B;
}

    #menu a {
        background-color: inherit;
        color: inherit;
        transition: 0.4s;
    }

    #menu li, #menu li li {
        position: relative;
        display: inline-block;
        width: 110px;
        padding: 10px;
        transition: 1s;
        background-color: #3E2E3B;
        transition: 0.4s;
    }


    #menu ul {
        position: absolute;
        top: 2em;
        left: 0;
        max-height: 0em;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-radius: 0 0 8px 8px;
        transition: 1s;
        background-color: #3E2E3B;
    }

    #menu li:hover ul {
        max-height: 13em;
    }


    #menu li li:hover {
        color: #3E2E3B;
        background-color: #F9B50A;
    }


/*COMMUN*/

.sectionTitre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-size: 100%;
    background-position: center;
    font-family: 'Fredericka the Great', cursive;
}

.titre {
    font-size: 7.5em;
    background-size: 100%;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* AGENDA */

/*SECTION 1*/
.octobre {
    background-image: url(images/bg-leaves.jpg);
}

#semainier {
    display: flex;
    width: 50%;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.semaine a {
    background-color: #3E2E3B;
    border-radius: 50%;
    padding: 15px;
    text-decoration: none;
    color: #F9B50A;
    font-size: 1.7em;
    transition: 0.7s;
}

    .semaine a:hover {
        background-color: #F9B50A;
        color: #3E2E3B;
    }



/*SECTION 2*/

#sectionTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Vibur', cursive;
    padding: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    color: white;
    font-size: 1.5em;
    margin: 10px;
}


th, td {
    text-align: center;
    width: 10%;
    padding: 10px;
}


.jour th {
    text-transform: uppercase;
    font-family: 'Just Another Hand', cursive;
    color: #F9B50A;
}

.act {
    opacity: 0.7;
    transition: 0.7s;
    text-align: left;
    padding-left: 15px;
}

.moment th {
    text-align: right;
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: 0.7s;
    opacity: 0.6;
    font-size: 0.7em;
    color: #F9B50A;
}

.moment .libre {
    color: #DD8009;
}


.act:hover, .moment th:hover {
    opacity: 1;
}

.libre {
    background-color: #F9B50A;
}

.loisirs {
    background-color: #DD8009;
}

.nourriture {
    background-color: #9C1E2C;
}

.autre {
    background-color: #733041;
}

.travail {
    background-color: #674A61;
}

.corvée {
    background-color: #936B74;
}

.jour, .midi {
    background-color: #3E2E3B;
    color: #F9B50A;
}



/*SECTION 3*/

#sectionBouton {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.bouton {
    text-decoration: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #3E2E3B;
    color: #F9B50A;
    transition: 0.7s;
    font-family: 'Just Another Hand', cursive;
    font-size: 1.7em;
}

    .bouton:hover {
        background-color: #F9B50A;
        color: #3E2E3B;
    }



/*FORMULAIRE*/


.formulaire {
    background-image: url(images/bg-formulaire3.jpg);
    font-size: 4em;
    color: white;
    height: 50%;
}

.articleFormulaire {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;
}

form {
    box-sizing: border-box;
    width: 90%;
    display: flex;
    justify-content: space-around;
    font-family: 'Vibur', cursive;
    font-size: 1.2em;
    color: #3E2E3B;
}

.blocForm {
    background-color: rgba(219, 220, 225, 0.3);
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid rgba(62, 46, 59, 0.2);
}


    .blocForm div {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

input, textarea, select, option {
    border: none;
    background: none;
    border-bottom: 2px solid rgba(62, 46, 59,0.2);
    background-color: rgba(249, 181, 10, 0);
    font-family: inherit;
    transition: 0.2s;
    padding: 5px;
}

    input:focus, textarea:focus {
        border-bottom: 2px solid rgba(62, 46, 59,0);
        background-color: rgba(62, 46, 59,0.1);
    }

    input[type=submit] {
        color: #3E2E3B;
        border-radius: 8px;
        padding: 20px;
        font-size: 1.5em;
        border: 2px solid rgba(0,0,0,0);
        transition: 0.4s;
    }

        input[type=submit]:hover {
            border: 2px solid #3E2E3B;
        }
